body{
  font-family:"微软雅黑";
  user-select: none;
}
.clear:after{
  content:"";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.div_input{
  width: 100%;
  height: 100%;
  outline:none;
  line-height:20px
}
.app>.content{
  padding: 110px 0 100px
}
.div_input i{
  font-style: italic;
}
.div_input b{
  font-weight: 700;
}
.div_input sup{
  vertical-align: super;
  font-size: smaller;
}
.div_input sub{
  vertical-align: sub;
  font-size: smaller;
}
