@font-face
  font-family: 'sell-icon'
  src: url('../fonts/sell-icon.eot?sgykj0')
  src: url('../fonts/sell-icon.eot?sgykj0#iefix') format('embedded-opentype'),
          url('../fonts/sell-icon.ttf?sgykj0') format('truetype'),
          url('../fonts/sell-icon.woff?sgykj0') format('woff'),
          url('../fonts/sell-icon.svg?sgykj0#sell-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-image:before
  content: "\e90d"

.icon-headphones:before
  content: "\e910"

.icon-music:before
  content: "\e911"

.icon-film:before
  content: "\e913"

.icon-plus:before
  content: "\ea0a"

.icon-minus:before
  content: "\ea0b"

.icon-cross:before
  content: "\ea0f"

.icon-bold:before
  content: "\ea62"

.icon-underline:before
  content: "\ea63"

.icon-italic:before
  content: "\ea64"

.icon-sigma:before
  content: "\ea67"

.icon-page-break:before
  content: "\ea68"

.icon-superscript:before
  content: "\ea69"

.icon-subscript:before
  content: "\ea6a"

.icon-subscript2:before
  content: "\ea6c"

.icon-table:before
  content: "\ea70"

.icon-paragraph-left:before
  content: "\ea77"

.icon-paragraph-center:before
  content: "\ea78"

.icon-paragraph-right:before
  content: "\ea79"

.icon-indent-increase:before
  content: "\ea7b"

.icon-indent-decrease:before
  content: "\ea7c"

.icon-facebook:before
  content: "\ea90"

.icon-facebook2:before
  content: "\ea91"
