@font-face
  font-family: 'sell-icon'
  src: url('/fonts/sell-icon.eot?mb17ky')
  src: url('/fonts/sell-icon.eot?mb17ky#iefix') format('embedded-opentype'),
          url('/fonts/sell-icon.ttf?mb17ky') format('truetype'),
          url('/fonts/sell-icon.woff?mb17ky') format('woff'),
          url('/fonts/sell-icon.svg?mb17ky#sell-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-image:before
  content: "\e90d"

.icon-music:before
  content: "\e911"

.icon-video-camera:before
  content: "\e914"

.icon-mic:before
  content: "\e91e"

.icon-download:before
  content: "\e960"

.icon-upload:before
  content: "\e961"

.icon-zoom-in:before
  content: "\e987"

.icon-zoom-out:before
  content: "\e988"

.icon-plus2:before
  content: "\ea0a"

.icon-minus2:before
  content: "\ea0b"

.icon-cross:before
  content: "\ea0f"

.icon-checkmark:before
  content: "\ea10"

.icon-sigma:before
  content: "\ea67"

.icon-plus:before
  content: "\f067"

.icon-minus:before
  content: "\f068"

.icon-user:before
  content: "\f007"

.icon-check:before
  content: "\f00c"

.icon-close:before
  content: "\f00d"

.icon-remove:before
  content: "\f00d"

.icon-times:before
  content: "\f00d"

.icon-trash-o:before
  content: "\f014"

.icon-font:before
  content: "\f031"

.icon-bold:before
  content: "\f032"

.icon-italic:before
  content: "\f033"

.icon-align-left:before
  content: "\f036"

.icon-align-center:before
  content: "\f037"

.icon-align-right:before
  content: "\f038"

.icon-dedent:before
  content: "\f03b"

.icon-outdent:before
  content: "\f03b"

.icon-indent:before
  content: "\f03c"

.icon-pencil:before
  content: "\f040"

.icon-check-square-o:before
  content: "\f046"

.icon-mail-forward:before
  content: "\f064"

.icon-share:before
  content: "\f064"

.icon-square-o:before
  content: "\f096"

.icon-strikethrough:before
  content: "\f0cc"

.icon-underline:before
  content: "\f0cd"

.icon-table:before
  content: "\f0ce"

.icon-caret-down:before
  content: "\f0d7"

.icon-caret-up:before
  content: "\f0d8"

.icon-caret-left:before
  content: "\f0d9"

.icon-caret-right:before
  content: "\f0da"

.icon-sort:before
  content: "\f0dc"

.icon-unsorted:before
  content: "\f0dc"

.icon-angle-left:before
  content: "\f104"

.icon-angle-right:before
  content: "\f105"

.icon-angle-up:before
  content: "\f106"

.icon-angle-down:before
  content: "\f107"

.icon-smile-o:before
  content: "\f118"

.icon-frown-o:before
  content: "\f119"

.icon-code:before
  content: "\f121"

.icon-superscript:before
  content: "\f12b"

.icon-subscript:before
  content: "\f12c"

.icon-eraser:before
  content: "\f12d"

.icon-pencil-square:before
  content: "\f14b"

.icon-arrow-circle-o-right:before
  content: "\f18e"

.icon-arrow-circle-o-left:before
  content: "\f190"

.icon-paypal:before
  content: "\f1ed"

.icon-trash:before
  content: "\f1f8"

.icon-eyedropper:before
  content: "\f1fb"

.icon-paint-brush:before
  content: "\f1fc"

.icon-question-circle-o:before
  content: "\f29c"

.icon-user-o:before
  content: "\f2c0"

