.ivu-modal-header
  padding: 0

.ivu-modal-close .ivu-icon-ios-close-empty
  color: #fff

.unfold_wrapper
  .ivu-modal-content
    height: 0
    .ivu-modal-footer
      border: none
    .ivu-modal-header
      border: none

.ivu-select
  vertical-align: top

i
  font-style: italic

b
  font-weight: 700

sup
  vertical-align: super
  font-size: smaller

sub
  vertical-align: sub
  font-size: smaller

.ivu-poptip-body
  padding: 0

.compare_main
  .ivu-poptip-popper[x-placement^=top] .ivu-poptip-arrow:after
    border-top-color: #D2B281

.hint_dia_wrapper
  .ivu-modal
    .ivu-modal-body
      padding: 0
