// 定义颜色规范
$background-blue = #D4ECF8
$background-blue-d = #138ECB

$bdcolor-blue = #B9DBEB
$bdcolor-blue-d = #138ECB
$bdcolor-g = #ccc

$bgc-gradient-blue1 = #27A2E0
$bgc-gradient-blue2 = #148FCC

$bgc-gradient-white1 = #F4F4F4
$bgc-gradient-white2 = #D8D8D8

