// 定义颜色规范
$background-blue = #D4ECF8
$background-blue-d = #138ECB
$background-opacity = rgba(0,0,0,.6)
$background-fileDialog-tt = #F7EFE3
$background-fileDialog-ctx = #F7EFE3
// 字体颜色
$font-color-file = #A94E12
$font-color-blue = #138ECB
// 边框颜色
$bdcolor-blue = #B9DBEB
$bdcolor-blue-d = #138ECB
$bdcolor-g = #ccc
$bdcolor-file = #A94E12;
// 渐变蓝
$bgc-gradient-blue1 = #27A2E0
$bgc-gradient-blue2 = #148FCC
// 渐变白
$bgc-gradient-white1 = #F4F4F4
$bgc-gradient-white2 = #D8D8D8

// 宽度
$width = 900px
$width-file-dialog = 900px

